USE [master]
GO


IF NOT EXISTS(SELECT * FROM sysdatabases WHERE UPPER([name]) = 'PEOPLESALESWH')
  BEGIN

	-- Object:  Database [PeopleSalesWH]    Script Date: 01/29/2008 11:04:50 

	CREATE DATABASE [PeopleSalesWH] ON  PRIMARY 
	( NAME = N'PeopleSalesWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\PeopleSalesWH.mdf' , SIZE = 307200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10% )
	 LOG ON
	( NAME = N'PeopleSalesWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\PeopleSalesWH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
	
  END
GO

EXEC dbo.sp_dbcmptlevel @dbname=N'PeopleSalesWH', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PeopleSalesWH].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO