<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DataMart" providerName="System.Data.SqlClient" connectionString="Server=localhost;initial catalog=PeopleSalesDM;Trusted_Connection=yes;Integrated Security=true;"/>
    <add name="Warehouse" providerName="System.Data.SqlClient" connectionString="Server=localhost;initial catalog=PeopleSalesWH;Trusted_Connection=yes;Integrated Security=true;"/>
  </connectionStrings>

  <appSettings>
    <add key="ProjectDirectoryPath" value="E:\CODE\SSISvsCode\" />
    <!--<add key="ProjectDirectoryPath" value="D:\Projects\FHLB\SSISvsCode\" />-->
    <add key="SSISPackageFilePath" value="WarehouseToDataMart.Test\bin\Debug\SSIS\" />
    <add key="SSISPackageName" value="PeopleSalesWHTOPeopleSalesDM_ETL.dtsx" />
    <add key="SSISConfigName" value="PeopleSalesWHTOPeopleSalesDM_ETL.dtsConfig" />

    <add key="DataMartPublishCommandFilePath" value="WarehouseToDataMart.Database\PublishDataMart.cmd" />
    <add key="HibernateMappingFilePath" value="WarehouseToDataMart.Tests\bin\Debug\HibernateMappings\" />
  </appSettings>

</configuration>