<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ProjectDirectoryPath" value="E:\CODE\SSISvsCode\" />
    <!--<add key="ProjectDirectoryPath" value="D:\Projects\FHLB\SSISvsCode\" />-->
    <add key="SSISPackageFilePath" value="WarehouseToDataMart\SSIS\" />
    <add key="SSISPackageName" value="PeopleSalesWHTOPeopleSalesDM_ETL.dtsx" />
    <add key="SSISConfigName" value="PeopleSalesWHTOPeopleSalesDM_ETL.dtsConfig" />

    <add key="DataMartPublishCommandFilePath" value="WarehouseToDataMart.Database\PublishDataMart.cmd" />
    <add key="HibernateMappingFilePath" value="WarehouseToDataMart.Tests\bin\Release\HibernateMappings\" />
  </appSettings>
  
</configuration>