USE [master]
GO

IF NOT EXISTS(SELECT * FROM sysdatabases WHERE UPPER([name]) = 'PeopleSalesDM')
  BEGIN

	-- Object:  Database [PeopleSalesDM]    Script Date: 01/29/2008 11:04:50 

	CREATE DATABASE [PeopleSalesDM] ON  PRIMARY 
	( NAME = N'PeopleSalesDM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\PeopleSalesDM.mdf' , SIZE = 307200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10% )
	 LOG ON 
	( NAME = N'PeopleSalesDM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\PeopleSalesDM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)

  END
GO

EXEC dbo.sp_dbcmptlevel @dbname=N'PeopleSalesDM', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PeopleSalesDM].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO