<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Information.log" traceOutputOptions="None" />
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <connectionStrings>
    <add name="DataMart" providerName="System.Data.SqlClient" connectionString="Server=localhost;initial catalog=PeopleSalesDM;Trusted_Connection=yes;Integrated Security=true;"/>
    <add name="Warehouse" providerName="System.Data.SqlClient" connectionString="Server=localhost;initial catalog=PeopleSalesWH;Trusted_Connection=yes;Integrated Security=true;"/>
  </connectionStrings>

  <appSettings>
    <add key="ProjectDirectoryPath" value="E:\CODE\SSISvsCode\" />
    <!--<add key="ProjectDirectoryPath" value="D:\Projects\FHLB\SSISvsCode\" />-->

    <add key="EnableSSIS" value="true" />
    <add key="SSISPackageFilePath" value="WarehouseToDataMart.Console\bin\Release\SSIS\" />
    <add key="SSISPackageName" value="PeopleSalesWHTOPeopleSalesDM_ETL.dtsx" />
    <add key="SSISConfigName" value="PeopleSalesWHTOPeopleSalesDM_ETL.dtsConfig" />

    <add key="EnableCode" value="true" />
    <add key="DataMartPublishCommandFilePath" value="WarehouseToDataMart.Database\PublishDataMart.cmd" />
    <add key="HibernateMappingFilePath" value="WarehouseToDataMart.Console\bin\Release\HibernateMappings\" />
  </appSettings>

</configuration>